
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/custom.css" />

@model GASF.Models.CourseMaterial

@{
    ViewData["Title"] = "Edit";
}

<center>

    <div class="titlupag">Edit Course Material</div>

</center>

<div class="col-md-4">
    <div class="camp1">
        <div class="camp">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CourseMaterialId" />
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkCourseMaterial" class="control-label"></label>
                    <input asp-for="LinkCourseMaterial" class="form-control" />
                    <span asp-validation-for="LinkCourseMaterial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkSeminarMaterial" class="control-label"></label>
                    <input asp-for="LinkSeminarMaterial" class="form-control" />
                    <span asp-validation-for="LinkSeminarMaterial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkLaboratoryMaterial" class="control-label"></label>
                    <input asp-for="LinkLaboratoryMaterial" class="form-control" />
                    <span asp-validation-for="LinkLaboratoryMaterial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="btn">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
