
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/custom.css" />

@{
    ViewData["Title"] = "About Us";
}

<center>
    <div class="titlupag_detalii">About Us</div>
    <h3>Created by:</h3>
</center>

<div class="camp1">
    <div class="camplogin">
        Rosianu Ionut-Laurentiu - CEN 3.2B
        </br>
        Costache Marius-Cosmin - CR 3.1B
        </br>
        Brinzan Florinel-Razvan - CR 3.1A
        </br>
        Belu Florinel-Gabriel - CR 3.1A
        </br>
    </div>
</div>
