
<link href="https://fonts.googleapis.com/css?family=Tangerine:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/custom.css" />

@{
    ViewData["Title"] = "Contact Us";
}

<center>

    <div class="titlupag_detalii">Contact Us</div>

</center>

<div class="camp1">
    <div class="camplogin">
        <h3>Contact:</h3>
        <h3>Rosianu Ionut-Laurentiu</h3>
        <ul>
            Email:
            </br>
            Telefon:
        </ul>
        <h3>Costache Marius-Cosmin</h3>
        <ul>
            Email:
            </br>
            Telefon:
        </ul>
        <h3>Brinzan Florinel-Razvan</h3>
        <ul>
            Email:
            </br>
            Telefon:
        </ul>
        <h3>Belu Florinel-Gabriel</h3>
        <ul>
            Email:
            </br>
            Telefon:
        </ul>
    </div>
</div>