body {
    font-family: "Lato", sans-serif;
}

.barnav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    overflow-x: hidden;
    padding-top: 20px;
}

    .barnav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 14px;
        color: #196619;
        display: block;
    }

        .barnav a:hover {
            color: #051505;
        }



.btn-primary {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

    .btn-primary:hover {
        color: #212529;
        background-color: #52bebe;
        border-color: #8ad3d3
    }

    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
    }

    .btn-primary.disabled,
    .btn-primary:disabled {
        color: #212529;
        background-color: #7cc;
        border-color: #5bc2c2
    }

    .btn-primary:not(:disabled):not(.disabled):active,
    .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #212529;
        background-color: #9cdada;
        border-color: #2e7c7c
    }

        .btn-primary:not(:disabled):not(.disabled):active:focus,
        .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
        }

.btn-outline-primary {
    color: #7cc;
    background-color: transparent;
    background-image: none;
    border-color: #7cc
}

    .btn-outline-primary:hover {
        color: #222;
        background-color: #8ad3d3;
        border-color: #7cc
    }

    .btn-outline-primary:focus,
    .btn-outline-primary.focus {
        box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
    }

    .btn-outline-primary.disabled,
    .btn-outline-primary:disabled {
        color: #7cc;
        background-color: transparent
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active,
    .btn-outline-primary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-primary.dropdown-toggle {
        color: #212529;
        background-color: #8ad3d3;
        border-color: #7cc
    }

        .btn-outline-primary:not(:disabled):not(.disabled):active:focus,
        .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
        }


.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}
